@import "tailwindcss";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #000 inset !important;
    -webkit-text-fill-color: white !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 12px;
}
::-webkit-scrollbar{
    background-color: transparent;
    padding-top: 3px;
    padding-bottom: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e0e0e0;
}


@theme {
  /* background */
  --color-primary-background: #091413;
  --color-primary2-background: #0f1c1b;
  --color-primary-hoverd-background: #474646;
  --color-secondary-backgruond: #0ee883;

  /* border */
  --color-border-dark-background: #eeffff;

  /* text */
  --color-primary-text: #03C988;
  --color-secondary-text: #C3110C;

  /* font */
  --font-text-jet: 'JetBrains Mono', monospace;
  --font-text-inter: 'Inter', monospace;
  --font-text-rubik: 'Rubik', monospace;
  --font-text-syne: 'Syne', monospace;
}